@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{
    color: white;
    text-align: center;
    background-color: lightblue;
    font-family: "Permanent Marker", cursive;
    text-shadow: 2px 1px 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nigger{
    border: 5px solid steelblue;
    border-radius: 50%;
    width: 150px;
}
h2,h3{
    background-color: steelblue;
    display: inline;
}
