@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
body{
    color: white;
    text-align: center;
    background: linear-gradient(lightblue,purple);
    /* background-color: lightblue; */
    font-family: "Happy Monkey", system-ui;
    text-shadow: 1px 1px 3px black;
}
.nigger{
    border: 5px solid steelblue;
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
}
#bd-age{
    background-color: steelblue;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0px;
}
#bd-date{
    background-color: steelblue;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 3px 0px 10px 0px;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sen-1{
    margin-bottom: 5px;
}
#sen-2{
    margin: 0px 0px 30px 0px;
}
.gift{
    background-image: url("images/images.jpg");
    background-size: cover;
    border: 5px solid white;
    margin: 0px auto;
    border-radius: 6px;
    width: 350px;
    height: 350px;
}
#g-1:hover{
    background-image: url("images/tate.webp");
}
#g-2:hover{
    background-image: url("images/tate1.webp");
}
#g-3:hover{
    background-image: url("images/black.webp");
}
#g-4:hover{
    background-image: url("images/tate2.webp");
}
#g-5{
    height: 190px;
}
#g-5:hover{
    background-image: url("images/200.webp");
}
.footer{
    color: white;
    font-style: italic;
    margin: 30px auto 20px;
    width: 300px;
}
#course{
    color: white;
}