* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
header ul {
  padding: 0.9rem;
  text-align: right;
}
header ul li {
  display: inline;
  padding: 1rem;
}
header li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
}
nav {
  background-color: rgb(13, 69, 172);
  position: fixed;
  width: 100%;
}
.maindiv {
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  display: flex;
}

.maindiv > :nth-child(1) {
  margin: 7rem 1rem 1rem 4rem;
  width: 42vw;
  height: 65vh;
  background-color: cadetblue;
}
.maindiv > :nth-child(2) {
  margin: 7rem 4rem 1rem 1rem;
  width: 42vw;
  height: 65vh;
  background-color: yellowgreen;
  margin-left: auto;
}
footer{
  background-color: blueviolet;
}
footer ul li {
  list-style: none;
  padding: 1rem;
}
footer ul li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
}
.box3{
    text-align: center;
    border: 2px solid black;
    margin: 30px 300px 30px 300px;
    border-radius: 36px;
    padding: 20px 20px 20px 20px;
    font-size: large;
    font-weight: 700;
}