@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
body{
    color: #8790AB;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}
.btn{
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    padding: 6px 12px;
    color: #8790AB;
    border: none;
}
.under-line{
    border-bottom: 4px solid white;
}
#mainlogo{
    width: 150px;
    background-color: none;
}
.hero{
    background-image: url("images/galaxy.webp");
    background-size: cover;
    background-position: center;
    padding: 10px 0px 300px 0px;
}
.title{
    text-shadow: 0px 0px 4px black;
}