body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.card{
    display: flex;
    background-color: lightblue;
    justify-content: space-around;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-bottom: 4px solid blue;
}
.thorimg{
    height: 150px;
    border-radius: 5px;
}
.prof{
    font-size: larger;
}